{% extends 'base.html'%}

{% block title %}Add A User{% endblock %}

{% block content %}

<h1 class="title">Add A User</h1>

<form action="/users/new" method="POST">
    <label for="firstname">First Name</label><br>
    <input type="text" name="firstname" placeholder="Enter a first name"><br>
    <label for="lastname">Last Name</label><br>
    <input type="text" name="lastname" placeholder="Enter a last name"><br>
    <label for="imageurl">Image URL</label><br>
    <input type="text" name="imageurl" placeholder="Provide an image of this user"><br>
    <button type="submit">Add</button>
</form>

{% endblock %}

